---
---
$main-width: 512px;

/* Main Content */
body {
    font-family: sans-serif;
    padding-bottom: 48px;

    > *:not(.post-container),
    .post-container > *:not(.image-container) {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }

    &.tags-page {
        padding-bottom: 90vh;
    }
}

/* Reset figure & pre so they don't have their
   default margins making spacing look off */
figure,
pre {
    margin: 0;
    line-height: initial;
}

h1, h2, h3, h4, h5, h6 {
    margin: 12px 0px;
}

blockquote {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #D8D8D8;
    padding-left: 12px;
    margin-left: 0px;
    font-style: oblique;
}

table {
    background-color: whitesmoke;
    border-radius: 4px;
    border-spacing: 0px;
    padding: 4px 8px;
    transform: translateX(-10px);
    width: 100%;

    th {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
    }
}

header {
    line-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    h1 {
        font-weight: 100;
        font-size: 48px;
        margin-bottom: 16px;
    }

    img {
        height: 14px;
        align-self: flex-start;
    }
}

footer {
    font-size: 14px;

    img {
        transform: translateY(2px);
        height: 14px;
        margin: 0px 2px;
    }
}

.post-navigation {
    margin-bottom: 12px;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

pre,
code {
    font-size: 14px;
}


.group-container {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.group-display {
    width: 150px;
    box-sizing: border-box;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
    color: #9C9C9C;
}

@media only screen and (min-width: 900px) {
    .group-display {
        position: absolute;
        margin-left: -162px;
        text-align: end;
    }

    .group-container {
        display: flex;
        flex-direction: row;
    }

    header {
        min-height: 200px;
    }
}

.group-posts {
    width: 100%;
}

a.post-title {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.post-summary {
    font-size: 14px;
}

.post-details {
    font-weight: 100;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 14px;
}

.post-excerpt {
    line-height: 165%;
}

.post-container {
    line-height: 165%;

    > p:first-child {
        font-style: oblique;
        color: #9C9C9C;
    }

    > ol,
    > ul {
        transform: translateX(-20px);
    }
}

.post-tags {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    
    .post-tag {
        background-color: #D8D8D8;
        color: #454545;
        margin-right: 8px;
        padding: 6px 8px;
        border-radius: 4px;

        > a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.post-container {
    img {
        max-width: 100%;
    }

    > .highlight,
    > .highlighter-rouge {
        background-color: whitesmoke;
        padding: 8px;
        border-radius: 4px;
        transform: translateX(-10px)
    }
}

img.image-full-bleed {
    width: 100vw;
}

img.image-fill-width {
    width: 100%;
}

.attribution-container {
    margin-top: 0px;
    margin-bottom: 12px;
}