---
---
$main-width: 512px;

/* Main Content */
body {
    font-family: sans-serif;
}

/* Reset figure & pre so they don't have their
   default margins making spacing look off */
figure,
pre {
    margin: 0;
}


header {
    margin-left: 150px;
    max-width: $main-width;
}

header > h1 {
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 16px;
}

.year-container {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.year-display {
    width: 150px;
    box-sizing: border-box;
    text-align: end;
    padding-right: 12px;
    padding-top: 2px;
    color: #9C9C9C;
}

a.post-title {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.post-details {
    font-weight: 100;
    padding-top: 8px;
    padding-bottom: 4px;
}

.post-excerpt {
    line-height: 165%;
}

.post-tags {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.post-tags .post-tag {
    background-color: #D8D8D8;
    color: #454545;
    margin-right: 8px;
    padding: 6px 8px;
    border-radius: 3px;
}

/* Debug Colours
body {
    background-color: lightblue;
}

.layout-container {
    background: whitesmoke;
}

.post-summary {
    background-color: white;
}*/