---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <!-- Site Header -->
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <!-- Grouped by Year -->
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <!-- Individual year -->
      <div class="group-container">
        <div class="group-display">{{ year.name }}</div>
        <!-- Posts in that year -->
        <div class="group-posts">
          {% for post in year.items %}
            {% include individual_post.html %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    {% include footer.html %}
  </body>
</html>