---
---
<!doctype html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% feed_meta %}
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
    <title>Tags &mdash; {{ site.title }}</title>
  </head>
  <body class="tags-page">
    <!-- Site Header -->
    <header>
      <a href="{% link index.html %}" title="Home"><img src="{{ "/images/home.svg" | relative_url }}" alt="Home"></a>
      <h1>Tags</h1>
    </header>
    <main>
    <!-- Grouped by Tag -->
    {% assign sortedTags = site.tags | sort %}
    {% for tagItem in sortedTags %}
      <!-- Individual Tag -->
      <div class="group-container" id="tag-{{ tagItem[0] }}">
        <div class="group-display">{{ tagItem[0] }}</div>
        <!-- Posts in that tag -->
        <div class="group-posts">
        {% for post in site.posts %}
            {% if post.tags contains tagItem[0] %} 
                {% include individual_post.html %}
            {% endif %}
        {% endfor %}
        </div>
      </div>
    {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>