<footer>
    <a href="https://github.com/{{ site.github_username}}"><img src="{{ "/images/github.svg" | relative_url }}"></a>
    <a href="https://www.linkedin.com/in/dhopton"><img src="{{ "/images/linkedin-in.svg" | relative_url }}"></a>
    <a href="https://twitter.com/{{ site.twitter_username}}"><img src="{{ "/images/twitter.svg" | relative_url }}"></a>
    <span>/</span>
    <a href="{{ "/assets/resume.pdf" | relative_url }}">resume</a>
    <span>/</span>
    <a href="{% link about.md %}">about</a>
    <span>/</span>
    <a href="">attribution</a>
</footer>