<!doctype html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% feed_meta %}
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | relative_url }}">
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
  </head>
  <body>
    <!-- Title and link to  home-->
    <header>
      <a href="{% link index.html %}" title="Home"><img src="{{ "/images/home.svg" | relative_url }}" alt="Home"></a>
      <h1>{{ page.title }}</h1>
    </header>
    {% if page.description != nil %}
    <summary>
      {{ page.description }}
    </summary>
    {% endif %}
    <!-- Summary information for the post inc. tags. -->
    {% if page.date %}
    <section class="post-summary">
      <div class="post-details">
        <span>{{ page.date | date_to_long_string: "ordinal" }}</span>,
        <span>{{ page.content | reading_time_as_s }} to read</span>
      </div>
      <div class="post-tags">
          {% for tag in page.tags %}
            <div class="post-tag"><a href="{{ "tags.html" | relative_url }}#tag-{{ tag }}">{{ tag }}</a></div>
          {% endfor %}
      </div>
    </section>
    {% endif %}
    <!-- Main article body -->
    <article class="post-container">
        {{ content }}
    </article>
    {% if page.comments != false %}
    <script src="https://utteranc.es/client.js"
        repo="grork/personal-blog"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        async>
    </script>
    {% endif %}
    <!-- Footer for previous / next / social-media links -->
    {% if page.next != nil or page.previous != nil %}
    <footer class="post-navigation">
      {% if page.previous != nil %}
      <a href="{{ page.previous.url | relative_url }}" class="nav-previous">previous</a>
      {% endif %}
      {% if page.next != nil %}
      <a href="{{ page.next.url | relative_url }}" class="nav-next">next</a>
      {% endif %}
    </footer>
    {% endif %}
    {% include footer.html %}
  </body>
</html>