<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} &mdash; {{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
      <div>
          <span>Published:</span>
          <span>{{ page.date | date_to_long_string: "ordinal" }}</span>
          <span>{{ page.content | reading_time_as_s }} to read</span>
      </div>
      <div>
        {% for tag in page.tags %}
          {% unless forloop.first %}
          <span>/</span>
          {% endunless %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
    </header>
    <div>
        {{ content }}
    </div>
  </body>
</html>